<!DOCTYP html>
<html>
  <head>
    <title>Job Carrer Website</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  </head>
  <body>
   <div id="container">
     <h1>Job Carrer</h1>
       <img id="banner" src="https://aeb3b918-f561-4e5f-a85b-9a46941e225d-00-a6g1kzhxjsfv.riker.replit.dev/static/banner2.avif">
       <h2>About Job</h2>
       <p class="bodytext" >Career growth is a journey of continuous learning, skill enhancement, and seizing new opportunities. It involves setting goals, embracing challenges, and leveraging innovation to advance in various professions. With the right mindset and determination, individuals can climb the career ladder, explore new possibilities, and achieve success in their chosen fields.</p>
       <h2>Job Positions</h2>
       <p class="bodytext" >TODO - Show the jobs here</p>

     <div id="contactbutton">
       <button>Contact Us</button>
       <p>Copyright 2025, Job</p>
     </div>
     
   </div>

  </body>

</html>